{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}


<div class='d-flex gap-5 m-5'>
    <img src="{% static 'Deposit.jpg' %}" alt="" style="width: 50%;">



        
    <div style="width: 50%; margin:auto;">

            <form method="POST">
                {% csrf_token %}
                <!--{{form|crispy}}-->
                {% for fm in form %}
        
                    {{fm.label_tag}}
        
                    {{fm}}
                    {{fm.errors|striptags}}
                
                {% endfor %}
                <br>
        
                <button class="btn btn-warning" type="Submit">Submit</button>
        
           
        
            </form>
        
    </div>
    
        


    
</div>



{% endblock body %}